<rux-container class="scenarios-tree">
  <div slot="header">
    Scenarios
    <rux-icon icon="add" size="small" />
  </div>
  <rux-tree>
    <rux-tree-node
      >Scenario A
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
    </rux-tree-node>
    <rux-tree-node
      >Scenario B
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
    </rux-tree-node>
    <rux-tree-node
      >Scenario C
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
    </rux-tree-node>
    <rux-tree-node
      >Scenario D
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
      <rux-tree-node slot="node">Spacecraft #</rux-tree-node>
    </rux-tree-node>
  </rux-tree>
</rux-container>
