<rux-container class="scenarios-tree">
  <div slot="header">
    <span class="title">Scenarios</span>
    <rux-button
      icon-only
      icon="add"
      size="small"
      (click)="onIconClick()"
    ></rux-button>
  </div>
  <rux-tree (ruxtreenodeselected)="onTreeNodeSelected($event)">
    <rux-tree-node *ngFor="let parentNode of data">
      {{ parentNode?.name }}
      <rux-tree-node
        slot="node"
        *ngFor="let childNode of parentNode?.spaceCraft"
      >
        {{ childNode.catalogId }}
      </rux-tree-node>
    </rux-tree-node>
  </rux-tree>
</rux-container>
