<rux-container class="scenarios-tree">
  <div slot="header">
    <span>Scenarios</span>
    <rux-button icon-only icon="add" size="small" (click)="onIconClick()" />
  </div>
  <rux-tree>
    <rux-tree-node
      (click)="onScenarioClick($event)"
      *ngFor="let scenario of (scenarios$ | async)"
      [attr.expanded]="scenario === (scenarios$ | async )![0]"
    >
      {{ scenario?.name }}
      <ng-container *ngFor="let spacecraftId of scenario?.spaceCraftIds">
        <rux-tree-node
          slot="node"
          (ruxtreenodeselected)="onSpacecraftSelected(spacecraftId.id, scenario!)"
          [selected]="(selectedSpacecraftId$ | async) === spacecraftId.id"
        >
          {{ spacecraftId.catalogId }}
        </rux-tree-node>
      </ng-container>
    </rux-tree-node>
  </rux-tree>
</rux-container>
