<rux-container class="scenarios-tree">
  <div slot="header">
    <span>Scenarios</span>
    <rux-button icon-only icon="add" size="small" (click)="onIconClick()" />
  </div>
  <rux-tree>
    <rux-tree-node
      (click)="onScenarioClick($event)"
      *ngFor="let scenario of scenarios"
      [attr.expanded]="scenario === scenarios[0]"
    >
      {{ scenario?.name }}
      <ng-container *ngFor="let spacecraft of scenario?.spaceCraft">
        <rux-tree-node
          slot="node"
          (ruxtreenodeselected)="onSpacecraftSelected(spacecraft, scenario!)"
          [selected]="selectedSpacecraftId === spacecraft.id"
        >
          {{ spacecraft.catalogId }}
        </rux-tree-node>
      </ng-container>
    </rux-tree-node>
  </rux-tree>
</rux-container>
