.tabs-wrapper {
  background-color: var(--color-background-base-default);
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-4);
}

rux-button {
  padding: var(--spacing-2);
}

rux-dialog::part(message) {
  padding: 0;
}

rux-dialog::part(dialog) {
  width: 40rem;
}
