<div>
  <div class="button-wrapper">
    <span> Raw Track Files</span>
    <rux-select label="Filter By" (ruxchange)="onSelect($event)">
      <rux-option label="All" value="all" />
      <rux-option label="Last 7 Days" value="seven-days" />
      <rux-option label="Last 30 Days" value="thirty-days" />
      <rux-option label="Last 90 Days" value="ninety-days" />
    </rux-select>
  </div>

  <div class="content">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>
              <rux-checkbox (ruxchange)="handleSelectAll($event)" />
            </th>
            <th>File Name</th>
            <th
              (click)="sortColumn('creationDate')"
              (mouseenter)="showIcon = true"
              (mouseleave)="showIcon = false"
            >
              Date
              <span class="icon-span" [ngClass]="{ 'show-icon': showIcon }">
                <rux-icon
                  size="small"
                  *ngIf="showIcon"
                  [icon]="
                    sortDirection === 'ASC'
                      ? 'arrow-drop-down'
                      : 'arrow-drop-up'
                  "
                />
              </span>
            </th>

            <th
              (click)="sortColumn('fileSize')"
              (mouseenter)="showSecondIcon = true"
              (mouseleave)="showSecondIcon = false"
            >
              File Size
              <span
                class="icon-span"
                [ngClass]="{ 'show-icon': showSecondIcon }"
              >
                <rux-icon
                  size="small"
                  *ngIf="showSecondIcon"
                  [icon]="
                    sortDirection === 'ASC'
                      ? 'arrow-drop-down'
                      : 'arrow-drop-up'
                  "
              /></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let id of filteredIds">
            <tr
              *ngIf="id.filtered === false"
              [ngClass]="{ selected: id.id === selectedFileId }"
            >
              <td>
                <rux-checkbox
                  [checked]="id.selected"
                  (ruxchange)="handleCheckbox(id)"
                  [disabled]="editTrackFile"
                />
              </td>
              <td>{{ trackFiles[id.id].name }}</td>
              <td>{{ trackFiles[id.id].creationDate | date: 'MM/dd/YYYY' }}</td>
              <td>{{ trackFiles[id.id].fileSize }} kb</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="file-wrapper">
      <header>
        <span>{{ selectedFileId ? trackFiles[selectedFileId].name : '' }}</span>
        <div>
          <rux-button
            [disabled]="!editTrackFile"
            borderless
            secondary
            icon="cancel"
            (click)="handleCancel()"
            >Cancel</rux-button
          >
          <rux-button
            [disabled]="!editTrackFile"
            borderless
            secondary
            icon="save"
            (click)="handleSave()"
            >Save As</rux-button
          >
        </div>
      </header>

      <div class="file-content" *ngIf="!editTrackFile">
        <rux-icon icon="antenna-transmit" size="7rem" />
        <rux-button [disabled]="!selectedFileId" (click)="handleEdit()"
          >Edit Track File</rux-button
        >
      </div>
      <rux-textarea
        *ngIf="editTrackFile"
        class="edit-file"
        [(ngModel)]="editedContent"
      />
    </div>
  </div>
</div>
