.table-wrapper {
  height: inherit;
}

.status-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* TODO: padding may need adjusment once elevation sizes are known
  * this sets how close the staus symbol is to the value in the cell
  */
  padding-inline-start: var(--spacing-10);
}
