.table-wrapper {
  height: inherit;
}

.status-wrapper {
  display: flex;
  justify-content: flex-end;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* TODO: width may need adjusment once elevation sizes are known
  * this sets how close the staus symbol is to the value in the cell
  */
  width: 6rem;
}
