.table-wrapper {
  height: inherit;
}

.table-wrapper th[type='number'] .h-stack {
  justify-content: flex-start;
}

.table-wrapper td {
  text-align: left;
}

.status-wrapper {
  display: flex;
  justify-content: flex-start;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.status-container rux-status {
  margin-left: var(--spacing-2);
}
