rux-container::part(body) {
  padding-top: 0;
  overflow-y: auto;
}

div[slot='header'] {
  display: flex;
  justify-content: space-between;
}

.settings-icon {
  cursor: pointer;
}

section {
  margin: 0;
  padding: 0;
}

rux-icon {
  cursor: pointer;
  display: flex;
}

rux-container,
rux-container::part(container) {
  overflow: hidden;
}
section {
  & div:nth-of-type(odd) {
    margin-top: var(--spacing-3);
  }
}

.title {
  font-size: var(--font-size-xl);
}
