<rux-container *ngIf="spacecraft$ | async as spacecraft">
  <div slot="header">
    <span>{{ spacecraft.catalogId }} Properties</span>
  </div>
  <section>
    <div>Catalog ID:</div>
    <div>{{ spacecraft.catalogId }}</div>

    <app-unit-selector [units]="distanceUnits" [value]="semiMajorAxis"
      >Semi-Major Axis</app-unit-selector
    >
    <app-unit-selector [units]="distanceUnits" [value]="perigee"
      >Perigee</app-unit-selector
    >
    <app-unit-selector [units]="arcUnits" [value]="inclination"
      >Inclination</app-unit-selector
    >

    <div>
      Eccentricity<ng-container
        *ngIf="
          initialOrbit?.eccentricity?.unit &&
          initialOrbit?.eccentricity?.unit !== ''
        "
        >({{ initialOrbit!.eccentricity.unit }})</ng-container
      >:
    </div>
    <div>
      {{ initialOrbit?.eccentricity?.value || '' }}
    </div>

    <div>
      Mass<ng-container *ngIf="initialOrbit?.mass?.unit"
        >({{ initialOrbit!.mass.unit }})</ng-container
      >:
    </div>
    <div>
      {{ initialOrbit?.mass?.value }}
    </div>
  </section>
</rux-container>
