div[slot='header'] {
  display: flex;
  justify-content: space-between;
}

.settings-icon {
  cursor: pointer;
}

rux-icon {
  cursor: pointer;
  display: flex;
}

section {
  & div:nth-of-type(odd) {
    margin-top: var(--spacing-3);
  }
}
