.settings-drawer {
  width: 22rem;
  box-sizing: border-box;
  background-color: var(--color-background-surface-default);
  position: absolute;
  top: 0;
  right: -22rem;
  height: calc(100% - 7.5rem);
  margin-top: 7.25rem;
  transition: right 0.3s;
  padding-right: var(--spacing-1);
  z-index: 10;
}

rux-container::part(body) {
  overflow: auto;
}

.open-drawer {
  right: 0;
}

.chart-selection {
  padding-inline: var(--spacing-4);
  background-color: var(--color-background-surface-header);
}

rux-select {
  padding: var(--spacing-3);
}

rux-checkbox {
  padding-block: var(--spacing-3);
}
