<header>
  <rux-tabs [id]="tabsParentId" small (ruxselected)="onSelect($event)">
    <rux-tab
      [id]="tab.id"
      [selected]="tab.selected"
      [disabled]="tab.disabled"
      *ngFor="let tab of tabs"
      >{{ tab.label }}</rux-tab
    >
  </rux-tabs>
  <ng-container *ngIf="notificationData">
    <rux-notification
      open
      small
      [hideClose]="notificationHideClose"
      [status]="notificationData[0].status"
    >
      {{ notificationData[0].message }}
      {{ notificationData[0].timestamp | date: "short" }}
    </rux-notification>
  </ng-container>
</header>
<div *ngIf="!hasTabPanels else panels">
  <ng-content></ng-content>
</div>

<ng-template #panels>
  <rux-tab-panels [attr.aria-labelledby]="tabsParentId">
    <ng-content select="[panels]"></ng-content>
  </rux-tab-panels>
</ng-template>

<!-- Above is what I landed one, but below you will find the direction I was going in, commented out -->

<!-- <ng-template #panels>
  <rux-tab-panels [attr.aria-labelledby]="tabsParentId">
    <ng-container *ngFor="let tab of tabs">
      <rux-tab-panel [attr.aria-labelledby]="tab.id">
        <ng-template [ngTemplateOutlet]="tab.label | lowercase"></ng-template>
      </rux-tab-panel>
    </ng-container>
    <ng-content select="[panels]"></ng-content>
  </rux-tab-panels>
</ng-template>

<ng-template #tab.label>
  <ng-content select="['+tab.label+']"></ng-content>
</ng-template> -->
