<h2>
  SPACECRAFT
  @if(spacecraft$ | async; as spacecraft) {
    <span>
      {{ spacecraft.catalogId }}</span
    >
  }
  
</h2>
<div class="btns">
  @if (currentToolkitPath) {
    <rux-button
      (click)="isConfirmCloseOpen = true"
      size="small"
      borderless
      icon="close"
      >Close Utility</rux-button
    >
  } @else {
    <rux-button size="small" secondary icon="list-alt" (click)="createReport()"
      >Create Report</rux-button
    >
    @for (util of utilities; track util.label) {
      <rux-button
        size="small"
        secondary
        [icon]="util.icon"
        (click)="onClick(util)"
      >
        {{ util.label }}
      </rux-button>
    }
  }
</div>
@if (isConfirmCloseOpen) {
  <rux-dialog
    open
    header="Close?"
    [message]="confirmMessage"
    (ruxdialogclosed)="onConfirm($event)"
  />
}
