:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);
  flex-grow: 1;
}

.btns {
  display: flex;
  gap: var(--spacing-3);
}

.btns *:nth-child(2) {
  margin-right: var(--spacing-3);
}

rux-dialog::part(message) {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
