<rux-container class="scenario-library_wrapper">
<div slot="header">
  Scenarios
<rux-button secondary iconOnly="true" icon="add"size="small"></rux-button>
</div>
<rux-tree>
  <rux-tree-node>
    Scenario A
    <rux-tree-node slot="node">
      Spacecraft #
    </rux-tree-node>
    <rux-tree-node slot="node">
      Spacecraft #
    </rux-tree-node>
    <rux-tree-node slot="node">
      Spacecraft #
    </rux-tree-node>
    <rux-tree-node slot="node">
      Spacecraft #
    </rux-tree-node>
  </rux-tree-node>
</rux-tree>
</rux-container>
