<div class="outputs_header">Select the products you need to output</div>
<form class="outputs_form">
  <div>
    <rux-checkbox label="Product Output" />
    <rux-checkbox label="Product Output" />
    <rux-radio-group>
      <rux-radio>Format A</rux-radio>
      <rux-radio>Format B</rux-radio>
    </rux-radio-group>
  </div>
  <div>
    <rux-checkbox label="Product Output" />
    <rux-checkbox label="Product Output" />
  </div>
  <div>
    <rux-checkbox label="Product Output" />
    <rux-checkbox label="Product Output" />
  </div>
  <div class="outputs_secondary">
    <rux-checkbox label="Include" />
    <rux-checkbox label="Include" />
    <rux-checkbox label="Include" />
  </div>
  <div>
    <rux-checkbox label="Product Output" />
    <rux-checkbox label="Product Output" />
  </div>
</form>

