<rux-container class="scenarios-tree">
  <div slot="header">
    Scenarios
    <rux-button
      icon-only
      icon="add"
      size="small"
      (click)="onIconClick()"
    ></rux-button>
  </div>
  <rux-tree (ruxtreenodeselected)="onTreeNodeSelected($event)">
    <rux-tree-node *ngFor="let parentNode of dummyScenariosData">
      {{ parentNode.parent }}
      <rux-tree-node slot="node" *ngFor="let childNode of parentNode.children">
        {{ childNode }}
      </rux-tree-node>
    </rux-tree-node>
  </rux-tree>
</rux-container>
