<rux-container class="output-data">
  <rux-tabs slot="tab-bar" [id]="tabsId" small>
    <rux-tab
      [id]="tab.id"
      [selected]="tab.selected"
      [disabled]="tab.disabled"
      *ngFor="let tab of tabs"
      >{{ tab.label }}</rux-tab
    >
  </rux-tabs>

  <rux-tab-panels [attr.aria-labelledby]="tabsId">
    <rux-tab-panel [attr.aria-labelledby]="tabs[0].id">
      <div class="sub-header">
        <div class="container">
          <div class="data">
            <div class="heading">
              <h1>{{ outputDataDisplayService.totalDeviations }}</h1>
              <p>Deviations</p>
            </div>
            <div class="alerts">
              <div class="h-stack">
                <rux-status status="caution" />
                <p>Warning ({{ outputDataDisplayService.warnings }})</p>
              </div>
              <div class="h-stack">
                <rux-status status="critical" />
                <p>Critical ({{ outputDataDisplayService.criticals }})</p>
              </div>
            </div>
          </div>

          <rux-segmented-button size="small" [data]="actions" />
        </div>

        <div class="container">
          <rux-segmented-button
            size="small"
            [data]="views"
            (ruxchange)="setCurrentView($event)"
          />
        </div>
      </div>

      <fds-solution-table *ngIf="currentView === 'View Table'" />
      <fds-solution-graph *ngIf="currentView === 'View Graph'" />
    </rux-tab-panel>

    <rux-tab-panel [attr.aria-labelledby]="tabs[1].id">
      <div class="sub-header">
        <div class="container">
          <div class="heading">
            <h1>2</h1>
            <p>Discrepancies</p>
          </div>
          <div class="data">
            <rux-select label="Antenna" (ruxchange)="onSelect($event)">
              <rux-option value="cumulative" label="Cumulative" />
              <rux-option value="pass1" label="Pass 1" />
              <rux-option value="pass2" label="Pass 2" />
              <rux-option value="pass3" label="Pass 3" />
            </rux-select>
            <rux-select label="Data Type">
              <rux-option value="range" label="Range" />
            </rux-select>
          </div>
        </div>
      </div>

      <div class="antenna-tables-wrapper">
        <div class="sub-header">
          <div class="container">
            <h3 id="cumulative">Cumulative</h3>
            <div class="h-stack">
              <p>Reference Frame: Cartesian ECI</p>
              <p>|</p>
              <p>Equinox: J2000</p>
            </div>
          </div>
        </div>
        <fds-performance-table
          [data]="outputDataDisplayService.performanceData"
        />
        <div class="sub-header">
          <div class="container">
            <h3 id="pass1">Pass 1</h3>
          </div>
        </div>
        <fds-performance-table
          [data]="outputDataDisplayService.performanceData"
        />
        <div class="sub-header">
          <div class="container">
            <h3 id="pass2">Pass 2</h3>
          </div>
        </div>
        <fds-performance-table
          [data]="outputDataDisplayService.performanceData"
        />
        <div class="sub-header">
          <div class="container">
            <h3 id="pass3">Pass 3</h3>
          </div>
        </div>
        <fds-performance-table
          [data]="outputDataDisplayService.performanceData"
        />
      </div>
    </rux-tab-panel>
  </rux-tab-panels>
</rux-container>
