:host {
  display: block;
  width: 75%;
}

rux-tab-panels,
rux-tab-panel {
  height: 100%;
}

rux-container {
  --body-padding: 0;
}

rux-container::part(body) {
  overflow: hidden;
}

.sub-header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-surface-header);
  padding: var(--spacing-4);
  gap: var(--spacing-3);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-btn-wrapper rux-button:nth-of-type(1) {
  margin-right: var(--spacing-3);
}

.data {
  display: flex;
  align-items: baseline;
}

.performance {
  gap: var(--spacing-10);
}

.data rux-select {
  width: 12rem;
}

.heading {
  display: flex;
  align-items: baseline;
  gap: var(--spacing-3);
  margin-right: var(--spacing-6);
}

.alerts {
  display: flex;
  gap: var(--spacing-6);
}

.h-stack {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

rux-tab-panel {
  height: 100%;
}

.antenna-tables-wrapper {
  /*
  * need to deducted for the header for all table rows to be
  * displayed when scrolling to the bottom
  */
  height: calc(100% - 6.25rem);
  overflow-y: auto;
}
