<fds-child-container>
  <rux-tabs header small (ruxselected)="onSelect($event)">
    <rux-tab
      [selected]="tab.selected"
      [disabled]="tab.disabled"
      *ngFor="let tab of tabs"
      >{{ tab.label }}</rux-tab
    >
  </rux-tabs>

  <rux-notification open small hideClose [status]="ods[0].status">{{
    ods[0].message + " " + (ods[0].timestamp | date: "short")
  }}</rux-notification>

  <header>
    <div class="container">
      <div class="data">
        <div class="heading">
          <h1>{{ diviations.length }}</h1>
          <p>Deviations</p>
        </div>
        <div class="alerts">
          <div class="h-stack">
            <rux-status status="caution"></rux-status>
            <p>Warning ({{ warnings.length }})</p>
          </div>
          <div class="h-stack">
            <rux-status status="critical"></rux-status>
            <p>Critical ({{ criticals.length }})</p>
          </div>
        </div>
      </div>

      <rux-segmented-button [data]="actions"></rux-segmented-button>
    </div>

    <div class="container">
      <rux-segmented-button size="small" [data]="views"></rux-segmented-button>

      <rux-pop-up>
        <rux-icon icon="more-horiz" slot="trigger" size="1.75rem"></rux-icon>
        <rux-menu>
          <rux-menu-item href="#">Menu Item 1</rux-menu-item>
          <rux-menu-item href="#">Menu Item 2</rux-menu-item>
          <rux-menu-item href="#">Menu Item 3</rux-menu-item>
        </rux-menu>
      </rux-pop-up>
    </div>
  </header>
</fds-child-container>
