:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px); /* remove 2px for top and bottom border */
  border: 1px solid var(--container-color-border);
}

rux-tabs {
  padding-inline: var(--spacing-4);
  background-color: var(--color-background-surface-header);
}

div {
  flex-grow: 1;
  overflow: hidden;
}
