.track-data {
  position: relative;
  overflow: hidden;
}

header {
  display: flex;
  padding-block: var(--spacing-4);
  gap: var(--spacing-2);
  justify-content: space-between;
  padding-inline: var(--spacing-4);
}

.button-wrapper {
  display: flex;
  & rux-button {
    width: var(--spacing-24);
  }
}
