<div class="track-data">
  <header>
    <div>
      <rux-button
        (click)="viewGraph()"
        id="graph"
        icon="show-chart"
        size="small"
        secondary
        >View Graph</rux-button
      >
      <rux-button
        (click)="viewTable()"
        id="table"
        icon="notes"
        size="small"
        secondary
        >View Table</rux-button
      >
    </div>

    <fds-sites [isSitesDrawerOpen]="isSitesDrawerOpen" />
    <fds-settings [isSettingsDrawerOpen]="isSettingsDrawerOpen" />

    <div *ngIf="showGraph" class="button-wrapper">
      <rux-button
        size="small"
        secondary
        (click)="toggleSitesDrawer()"
        [icon]="isSitesDrawerOpen ? 'keyboard-backspace' : null"
        [disabled]="isSettingsDrawerOpen"
        >{{ !isSitesDrawerOpen ? 'Sites' : 'Close' }}</rux-button
      >
      <rux-button
        size="small"
        secondary
        (click)="toggleSettingsDrawer()"
        [icon]="isSettingsDrawerOpen ? 'keyboard-backspace' : null"
        [disabled]="isSitesDrawerOpen"
        >{{ !isSettingsDrawerOpen ? 'Settings' : 'Close' }}</rux-button
      >
    </div>
  </header>
  <div *ngIf="showGraph">
    <fds-track-data-graph #trackDataGraph></fds-track-data-graph>
  </div>

  <!--Table Component: ToDo split into two components-->
  <div *ngIf="showTable">
    <fds-track-data-table></fds-track-data-table>
  </div>
</div>
