<div class="track-data">
  <header>
    <div>
      <fds-custom-segmented-button
        [leftIcon]="leftIcon"
        [leftText]="leftText"
        [rightText]="rightText"
        [rightIcon]="rightIcon"
        (leftClick)="viewGraph()"
        (rightClick)="viewTable()"
        [isLeftBtnActive]="leftBtnActive"
        [isRightBtnActive]="rightBtnActive"
      ></fds-custom-segmented-button>
    </div>

    <fds-sites [isSitesDrawerOpen]="isSitesDrawerOpen" />
    <fds-settings [isSettingsDrawerOpen]="isSettingsDrawerOpen" />

    <div *ngIf="showGraph" class="button-wrapper">
      <rux-button
        *ngIf="!isSitesDrawerOpen"
        size="small"
        secondary
        [disabled]="isSettingsDrawerOpen"
        (click)="toggleSitesDrawer()"
        >Sites</rux-button
      >
      <rux-button
        *ngIf="isSitesDrawerOpen"
        size="small"
        secondary
        (click)="toggleSitesDrawer()"
        icon="keyboard-backspace"
        >Close</rux-button
      >
      <rux-button
        *ngIf="!isSettingsDrawerOpen"
        size="small"
        secondary
        [disabled]="isSitesDrawerOpen"
        (click)="toggleSettingsDrawer()"
        >Settings</rux-button
      >
      <rux-button
        *ngIf="isSettingsDrawerOpen"
        size="small"
        secondary
        (click)="toggleSettingsDrawer()"
        icon="keyboard-backspace"
        >Close</rux-button
      >
    </div>
  </header>
  <div *ngIf="showGraph">
    <fds-track-data-graph #trackDataGraph></fds-track-data-graph>
  </div>
  <div *ngIf="showTable">
    <fds-track-data-table></fds-track-data-table>
  </div>
</div>
