<div>
  <div slot="header">
    <rux-segmented-button [data]="segmentedBtnData" />
    <div class="button-wrapper">
      <rux-button size="small" secondary>Filters</rux-button>
      <rux-button size="small" secondary>Sites</rux-button>
      <rux-button size="small" secondary>Settings</rux-button>
      <rux-button size="small" iconOnly icon="more-horiz" size="small" />
    </div>
  </div>

  <div class="toolbar">
    <div class="remove-outliers">
      <span>Remove Outliers</span>
      <rux-slider />
      <rux-button>##</rux-button>
      <rux-button iconOnly icon="edit" />
      <rux-button iconOnly icon="replay" />
      <rux-button iconOnly icon="delete" />
    </div>

    <div class="zoom-wrapper">
      <rux-icon icon="search" size="extra-small" />
      <rux-slider />
      <rux-icon icon="search" size="1.5rem" />
    </div>
  </div>

  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [markers]="chartOptions.markers"
    [stroke]="chartOptions.stroke"
    [legend]="chartOptions.legend"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>

  <div slot="footer">
    <span>OD Quality Est: 82/100</span>
    <span>Data Points: 000, 000</span>
  </div>
</div>
