div[slot="header"] {
  display: flex;
  padding-block: var(--spacing-4);
  gap: var(--spacing-2);
  justify-content: space-between;
}

/* GRAPH STYLES */

.button-wrapper {
  display: flex;
  gap: var(--spacing-2);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-2);
  background-color: var(--color-background-surface-header);
}

.toolbar-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-4);
}

rux-slider {
  width: 13rem;
  padding-inline: var(--spacing-2);
}

.zoom-wrapper {
  display: flex;
}

div[slot="footer"] {
  display: flex;
  justify-content: center;
  gap: var(--spacing-8);
}

:host ::ng-deep .tooltip-box {
  background-color: var(--color-background-base-selected);
  padding-inline: var(--spacing-3);
  padding-block: var(--spacing-1);
  border: none;
}

/* TABLE STYLES */

.table-wrapper {
  height: 38rem;
}

.icon-span {
  width: var(--spacing-6);
  display: inline-block;
  padding-right: 0;
}

th.show-icon {
  padding-right: var(--spacing-6);
}

rux-icon {
  vertical-align: middle;
}

th:nth-of-type(3):hover,
th:nth-of-type(2):hover {
  cursor: pointer;
}

td:nth-of-type(3),
td:nth-of-type(2),
th:nth-of-type(3),
th:nth-of-type(2) {
  text-align: right;
}

td:nth-of-type(3),
td:nth-of-type(2) {
  padding-right: var(--spacing-8);
}
