div[slot="header"] {
  display: flex;
  padding-block: var(--spacing-4);
  gap: var(--spacing-2);
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  gap: var(--spacing-2);
}

.button-wrapper rux-button:nth-of-type(4) {
  margin-left: var(--spacing-8);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-2);
  background-color: var(--color-background-surface-header);
}

.remove-outliers {
  display: flex;
  align-items: center;
}

.toolbar rux-button {
  margin-left: var(--spacing-4);
}

.toolbar rux-button:nth-of-type(2) {
  padding-left: var(--spacing-4);
}

rux-slider {
  width: 13rem;
  padding-inline: var(--spacing-2);
}

.zoom-wrapper {
  display: flex;
}

div[slot="footer"] {
  display: flex;
  justify-content: center;
  gap: var(--spacing-8);
}

.tooltip-box {
  background-color: var(--color-background-base-selected);
  padding: var(--spacing-1);
  border: none;
}
