<rux-container class="spacecraft">
  <div class="header-wrapper">
    <span class="spacecraft-id">SPACECRAFT #</span>
    <div class="btn-group">
      <span>
        <rux-button iconOnly icon="library-books" />
        Compare
      </span>
      <span>
        <rux-button iconOnly icon="subtitles" />
        Create Report
      </span>
      <span>
        <rux-button iconOnly icon="notes" />
        Log
      </span>
      <span>
        <rux-button iconOnly icon="antenna-off" />
        Track Data
      </span>
      <span>
        <rux-button iconOnly icon="public" />
        Propagator
      </span>
    </div>
  </div>
</rux-container>
