<!-- First div to ensure chart renders in safari -->
<div (mousemove)="renderChart()">
  <fds-tabbed-child-container
    [tabs]="tabs"
    [hasTabPanels]="true"
    tabsParentId="track-data-tabs"
    [isUtilityContainer]="true"
  >
    <ng-container panels>
      <rux-tab-panel aria-labelledby="files">
        <fds-track-files />
      </rux-tab-panel>
      <!-- Second div to ensure it continues to render when you switch tabs in chrome -->
      <div (mousemove)="renderChart()">
        <rux-tab-panel aria-labelledby="data">
          <fds-track-data />
        </rux-tab-panel>
      </div>
    </ng-container>
  </fds-tabbed-child-container>
</div>
