<!-- To ensure the chart renders in Chrome and Safari-->
<div (mousemove)="renderChart()">
  <fds-tabbed-child-container
    [tabs]="tabs"
    [hasTabPanels]="true"
    tabsParentId="track-data-tabs"
    [isUtilityContainer]="true"
  >
    <ng-container panels>
      <rux-tab-panel aria-labelledby="files">
        <fds-track-files />
      </rux-tab-panel>

      <rux-tab-panel aria-labelledby="data">
        <fds-track-data />
      </rux-tab-panel>
    </ng-container>
  </fds-tabbed-child-container>
</div>
