.header-and-tabs {
  padding: var(--spacing-2);
}

header {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  font-size: var(--font-size-2xl);
  padding-top: var(--spacing-2);
}

rux-icon {
  color: white;
}
