:host {
  height: 100%;
  overflow: hidden;
  display: grid;

  grid-template-areas:
    'header'
    'container';
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
}

rux-tabs {
  grid-area: header;
}

rux-tabs + * {
  grid-area: container;
  overflow: hidden;
}
