<div class="utilities-toolkit">
  <h1>SPACECRAFT #</h1>
  <div class="utilities_button-wrapper">
    <rux-button secondary iconOnly="true" icon="layers" size="large"></rux-button>
    <rux-button secondary iconOnly="true" icon="description" size="large"></rux-button>
    <rux-button secondary iconOnly="true" icon="reorder" size="large"></rux-button>
    <rux-button secondary iconOnly="true" icon="antenna-receive" size="large"></rux-button>
    <rux-button secondary iconOnly="true" icon="public" size="large"></rux-button>
  </div>
</div>
