<rux-container>
  <div slot="header">
    <span class="title">Spacecraft Properties</span>
    <rux-icon
      class="settings-icon"
      [routerLink]="[{ outlets: { dialog: ['properties'] } }]"
      icon="settings"
      size="1.5rem"
    />
  </div>
  <ul>
    <li>Catalog ID:</li>
    <li>{{ catalogId }}</li>

    <li>
      Semi-Major Axis ({{ currentAxisUnit }}):
      <rux-pop-up slot="left-side" placement="bottom-start" closeOnSelect>
        <rux-icon icon="unfold-more" size="1.25rem" slot="trigger" />
        <rux-menu
          value="currentAxisUnit"
          (ruxmenuselected)="selectAxisUnit($event)"
        >
          <rux-menu-item value="m">Meters (m)</rux-menu-item>
          <rux-menu-item selected value="km">Kilometers (km)</rux-menu-item>
          <rux-menu-item value="mi">Miles (mi) </rux-menu-item>
        </rux-menu>
      </rux-pop-up>
    </li>
    <li>{{ semiMajorAxis | unitConverter: currentAxisUnit }}</li>

    <li>
      Perigee ({{ currentPerigeeUnit }}):
      <rux-pop-up slot="left-side" placement="bottom-start" closeOnSelect>
        <rux-icon icon="unfold-more" size="1.25rem" slot="trigger" />
        <rux-menu
          value="currentPerigeeUnit"
          (ruxmenuselected)="selectPerigeeUnit($event)"
        >
          <rux-menu-item value="m">Meters (m)</rux-menu-item>
          <rux-menu-item selected value="km">Kilometers (km)</rux-menu-item>
          <rux-menu-item value="mi">Miles (mi) </rux-menu-item>
        </rux-menu>
      </rux-pop-up>
    </li>
    <li>{{ perigee | unitConverter: currentPerigeeUnit }}</li>

    <li>
      Inclination ({{ currentInclinationUnit }}):
      <rux-pop-up slot="left-side" placement="bottom-start" closeOnSelect>
        <rux-icon icon="unfold-more" size="1.25rem" slot="trigger" />
        <rux-menu
          value="currentInclinationUnit"
          (ruxmenuselected)="selectInclinationUnit($event)"
        >
          <rux-menu-item selected value="deg">Degrees (deg)</rux-menu-item>
          <rux-menu-item value="rad">Radians (rad)</rux-menu-item>
        </rux-menu>
      </rux-pop-up>
    </li>
    <li>{{ inclination | unitConverter: currentInclinationUnit }}</li>

    <li>Eccentricity:</li>
    <li>{{ eccentricity }}</li>

    <li>Mass:</li>
    <li>{{ mass }}</li>
  </ul>
</rux-container>
