<rux-container>
  <div slot="header">
    <span class="title">Spacecraft Properties</span>
    <rux-icon
      class="settings-icon"
      [routerLink]="[{ outlets: { dialog: ['properties'] } }]"
      icon="settings"
      size="1.5rem"
    />
  </div>
  <section *ngIf="unitDisplayed === distanceUnits">
    <app-unit-selector
      *ngFor="let item of itemsDisplayed"
      [units]="distanceUnits"
      [value]="valueDisplayed[item]"
      >{{ item }}
    </app-unit-selector>
  </section>
  
  <section *ngIf="unitDisplayed === arcUnits">
    <app-unit-selector
      *ngFor="let item of itemsDisplayed"
      [units]="arcUnits"
      [value]="valueDisplayed[item]"
      >{{ item }}
    </app-unit-selector>
  </section>
</rux-container>
