rux-container::part(body) {
    padding-top: 0;
  }
  
  div[slot="header"] {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .settings-icon {
    cursor: pointer;
  }