rux-container::part(body) {
    padding-top: 0;
 }
  
  div[slot="header"] {
    display: flex;
    justify-content: space-between;
  }
  
  .settings-icon {
    cursor: pointer;
  }

  .title {
    font-size: var(--font-size-lg);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    display: flex;
  }

  li:nth-of-type(1) {
    margin-top: var(--spacing-3);
  }

  li:nth-child(even) {
    margin-bottom: var(--spacing-3);
  }

  rux-icon {
    cursor: pointer;
    display: flex;
  }