:host {
  display: block;
  width: 25%;
}

rux-tab-panels,
rux-tab-panel {
  height: 100%;
}

rux-container {
  --body-padding: 0;
}


form.inputs_form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-3);
}

rux-container::part(tab-bar) {
  padding-block-end: 0;
}

.footer {
  display: flex;
  justify-content: center;
}

.footer rux-button {
  width: 100%;
}

