:host {
  display: block;
  /*
  * need to deducted for the header for all table rows to be
  * displayed when scrolling to the bottom
  */
  height: calc(100% - 6.25rem);
}

table {
  flex-grow: 1;
}

.status-col {
  display: flex;
  gap: var(--spacing-2);
  justify-content: flex-end;
}
