:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controls,
footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2);
  background-color: var(--color-background-surface-header);
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-4);
}

form {
  background-color: var(--color-background-surface-default);
  padding-inline: calc(var(--spacing-6) + 4px);
  padding-block: var(--spacing-4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  overflow: auto;
}

h3 {
  padding-block-end: 1em;
}

.form-section {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-2);
  padding-block-end: var(--spacing-4);
}

rux-pop-up {
  width: max-content;
}

rux-pop-up::part(popup-content) {
  min-width: 191px;
  transform: translateY(-12px);

  & rux-menu {
    padding-inline-start: var(--spacing-2);
  }
}

rux-pop-up::part(arrow) {
  display: none;
}

rux-pop-up span {
  padding-inline-start: var(--spacing-2);
  font-style: italic;
}

rux-input[type='number'] {
  width: 90px;
}

.switch-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  justify-content: flex-end;
  padding-inline-start: var(--spacing-8);
}

.controls-btn {
  width: 6.125rem;
}
