:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controls,
footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-2);
  background-color: var(--color-background-surface-header);
  padding-block: var(--spacing-3);
  padding-inline: var(--spacing-4);
}

form {
  background-color: var(--color-background-surface-default);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

h3 {
  padding-block: var(--spacing-8);
}

.form-section {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing-2);
}

/* The flex-end alignment in form-section was causing a bigger gap between h3 & section */
.date-duration {
  margin-top: -1.5rem;
}

.form-content {
  padding-inline: calc(var(--spacing-6) + 4px);
  overflow: auto;
  flex-grow: 1;
}

rux-input[type='number'] {
  width: 90px;
}

.switch-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3);
  justify-content: flex-end;
  padding-inline-start: var(--spacing-8);
}

.controls-btn {
  width: 6.125rem;
}

span:nth-of-type(1) {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weights-medium);
}

span:nth-of-type(2) {
  font-style: italic;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weights-medium);
  color: var(--color-text-secondary);
}
