<rux-container>
  <div class="toolbar">
    Toolbar
    <!-- <rux-button>Controls</rux-button> -->
  </div>

  <form>
    Form
    <!-- <section class="form-section">
      <h3>Source Settings</h3>

      <rux-select label="Orbit Source">
        <rux-option label="Ephemeris" />
        <rux-option label="TLE" />
      </rux-select>
      <rux-input placeholder="eph_020120.ephm" />
    </section>

    <section class="form-section">
      <h3>Epoch Settings</h3>

      <rux-select label="Orbit Source">
        <rux-option label="Ephemeris" />
        <rux-option label="TLE" />
      </rux-select>
      <rux-input placeholder="eph_020120.ephm" />
    </section>

    <section class="form-section">
      <h3>Date & Duration</h3>

      <rux-select label="Orbit Source">
        <rux-option label="Ephemeris" />
        <rux-option label="TLE" />
      </rux-select>
      <rux-input placeholder="eph_020120.ephm" />
    </section> -->
  </form>
  <aside class="controls">Controls</aside>

  <div class="footer">
    <!-- <rux-button>Secondary Action</rux-button>
    <rux-button>Primary Action</rux-button> -->
  </div>
</rux-container>
