<div class="controls">
  <rux-button size="small" *ngIf="!showControlsPanel" (click)="toggleControls()"
    >Controls</rux-button
  >
  <rux-button
    *ngIf="showControlsPanel"
    size="small"
    secondary
    (click)="toggleControls()"
    icon="keyboard-backspace"
    >Close</rux-button
  >
</div>

<fds-propagator-controls [showControlsPanel]="showControlsPanel" />

<form>
  <h3>Source Settings</h3>
  <section class="form-section">
    <rux-select label="Orbit Source">
      <rux-option label="Ephemeris" />
      <rux-option label="TLE" />
    </rux-select>

    <rux-pop-up placement="bottom" closeOnSelect="true">
      <rux-input placeholder="eph_020120.ephm" slot="trigger" />
      <rux-menu>
        <span>Recent TLE Files</span>
        <rux-menu-item>tle_12242019_1.tle</rux-menu-item>
        <rux-menu-item>tle_12242019_1.tle</rux-menu-item>
        <rux-menu-item>tle_12242019_1.tle</rux-menu-item>
        <rux-menu-item>tle_12242019_1.tle</rux-menu-item>
        <rux-menu-item>tle_12242019_1.tle</rux-menu-item>
        <span>Import TLE File</span>
      </rux-menu>
    </rux-pop-up>
  </section>

  <h3>Epoch Settings</h3>
  <section class="form-section">
    <rux-input
      type="datetime-local"
      label="Epoch"
      placeholder="YYY/MM/DD 00:00:00"
    />
    <rux-select>
      <rux-option label="UTCYmdHMs3" />
    </rux-select>
    <div class="switch-wrapper">
      <rux-switch label="Include Item"></rux-switch>
      <rux-switch label="Include Item"></rux-switch>
    </div>
  </section>

  <h3>Date & Duration Settings</h3>
  <section class="form-section">
    <rux-select label="Date Format">
      <rux-option label="UTC YmdHMs3" />
    </rux-select>
    <rux-input type="date" label="Start Date" placeholder="eph_020120.ephm" />
    <rux-input type="time" label="Start Time" placeholder="eph_020120.ephm" />
    <rux-input type="number" min="0" label="Span (Days)" placeholder="#" />
  </section>
</form>

<footer>
  <rux-button>Secondary Action</rux-button>
  <rux-button>Primary Action</rux-button>
</footer>
