<rux-global-status-bar
  app-state="Demo"
  app-domain="FDS"
  app-name="DSCS"
  username="J. Smith"
>
  <rux-pop-up
    placement="bottom-start"
    disable-auto-update
    close-on-select
    slot="left-side"
  >
    <rux-icon icon="apps" slot="trigger" size="2rem"></rux-icon>
    <rux-menu (ruxmenuselected)="handleSelection($event)">
      <rux-menu-item value="mode"
        >{{ this.lightMode ? 'Dark' : 'Light' }} Mode</rux-menu-item
      >
      <rux-menu-item value="unavailable">Preferences</rux-menu-item>
      <rux-menu-item value="unavailable">Sign Out</rux-menu-item>
    </rux-menu>
  </rux-pop-up>
  <div class="clock-wrapper">
    <rux-clock date-in></rux-clock>
  </div>
  <div class="gsb-icons" slot="right-side">
    <rux-monitoring-icon
      (click)="showToast()"
      icon="notifications"
      status="off"
      notifications="1"
    ></rux-monitoring-icon>
    <rux-monitoring-icon
      icon="help-outline"
      status="off"
      (click)="showToast()"
    ></rux-monitoring-icon>
  </div>
</rux-global-status-bar>
