rux-global-status-bar rux-pop-up {
  height: calc(var(--spacing-14) + var(--spacing-050));
}

.clock-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gsb-icons {
  display: flex;
  align-items: center;
  justify-content: center;

  & rux-monitoring-icon::part(status-icon) {
    display: none;
  }

  & *::part(icon) {
    color: var(--color-text-interactive-default);
    cursor: pointer;
  }
}
