<fds-global-status-bar
  [lightMode]="lightTheme"
  (onChangeTheme)="changeTheme()"
/>
<div class="app-layout">
  <header class="app-header">
    <fds-utility-toolkit [currentToolkitPath]="currentToolkitPath" />
  </header>

  <aside class="app-aside">
    <fds-scenario-library class="scenarios-library" />
    <fds-scenario-data-display class="scenario-data" />
  </aside>

  <main class="app-main">
    <fds-utility-container [currentToolkitPath]="currentToolkitPath" />
  </main>
</div>
<rux-toast-stack />
