.orbit-determination-body {
  height: calc(100vh - 6.75rem);
  overflow-y: hidden;
  padding: var(--spacing-3);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: calc(15% - 8px) auto;
  grid-template-rows: 45% auto;
  grid-template-areas:
    "scenarios-library main"
    "scenario-data main";
}

.scenarios-library {
  grid-area: scenarios-library;
  overflow-y: auto;
}

.scenario-data {
  grid-area: scenario-data;
  background-color: green;
}

.main {
  grid-area: main;
  background-color: rebeccapurple;
}
