.orbit-determination-body {
  height: calc(100vh - 6rem);
  overflow-y: hidden;
  padding: var(--spacing-3);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: minmax(17rem, 1.5fr) 8.5fr;
  grid-template-rows: 4.5fr 5.5fr;
  grid-template-areas:
    'scenarios-library main'
    'scenario-data main';
}

.scenarios-library {
  grid-area: scenarios-library;
  overflow: auto;
}

.scenario-data {
  grid-area: scenario-data;
  overflow: auto;
}

.main {
  grid-area: main;
}

main {
  display: block;
  height: 100%;
}

rux-container::part(body) {
  padding: var(--spacing-0);
}
