<rux-dialog
  open="true"
  (ruxdialogclosed)="onClose()"
  clickToClose="true"
  header="Edit Spacecraft Properties View"
  confirmText="Save"
  denyText="Close"
>
  <div class="dialog-content">
    <div class="button-wrapper">
      <rux-button borderless="true" secondary="true"
        >Spacecraft Property</rux-button
      >
      <rux-button borderless="true" secondary="true"
        >Spacecraft Property</rux-button
      >
      <rux-button borderless="true" secondary="true"
        >Spacecraft Property</rux-button
      >
      <rux-button borderless="true" secondary="true"
        >Spacecraft Property</rux-button
      >
      <rux-button borderless="true" secondary="true"
        >Spacecraft Property</rux-button
      >
      <rux-button borderless="true" secondary="true"
        >Spacecraft Property</rux-button
      >
      <rux-button borderless="true" secondary="true"
        >Spacecraft Property</rux-button
      >
    </div>

    <div class="properties-wrapper">
      <span class="select-msg">Select the data you wish to view</span>

      <span>
        <rux-checkbox label="Individual Passes" />
        <rux-select>
          <rux-option label="Drop Down" />
        </rux-select>
      </span>
      <span>
        <rux-checkbox label="Data Display" />
        <rux-select>
          <rux-option label="Drop Down" />
        </rux-select>
      </span>
      <span>
        <rux-checkbox label="Data Display" />
        <rux-select>
          <rux-option label="Drop Down" />
        </rux-select>
      </span>
      <span>
        <rux-checkbox label="Data Display" />
        <rux-select>
          <rux-option label="Drop Down" />
        </rux-select>
      </span>
      <span>
        <rux-checkbox label="Data Display" />
        <rux-select>
          <rux-option label="Drop Down" />
        </rux-select>
      </span>
      <span>
        <rux-checkbox label="Data Display" />
        <rux-select>
          <rux-option label="Drop Down" />
        </rux-select>
      </span>
    </div>
  </div>
</rux-dialog>
