<rux-container
  class="sites-drawer"
  [ngClass]="{ 'open-drawer': isSitesDrawerOpen }"
>
  <header slot="header">Tracking Sites</header>

  <rux-checkbox label="Display All" disabled />
  <rux-checkbox label="DGS" checked />
  <rux-checkbox label="CPCA" disabled />
  <rux-checkbox label="OAFB" disabled />
  <rux-checkbox label="HTS" disabled />
  <rux-checkbox label="VTS" disabled />
  <rux-checkbox label="SAFB" disabled />
  <rux-checkbox label="CTS" disabled />
  <rux-checkbox label="TVCF-E" disabled />
  <rux-checkbox label="TTS" disabled />
  <rux-checkbox label="GTS" disabled />
  <rux-checkbox label="NHS" disabled />
  <rux-checkbox label="BAFB" disabled />
  <rux-checkbox label="CDS" disabled />
</rux-container>
