<div class="table-wrapper">
  <!-- <table>
    <thead>
      <tr>
        <th
          *ngFor="let col of outputDataDisplayService.columns"
          [ngSwitch]="col.field"
          [ngClass]="{ sortable: col.sortable }"
          [attr.type]="col.type"
        >
          <rux-checkbox
            *ngSwitchCase="'id'"
            [checked]="outputDataDisplayService.areAllSelected()"
            (ruxchange)="outputDataDisplayService.selectAll($event)"
          />
          <div
            *ngSwitchDefault
            [ngClass]="{ active: col.sorted }"
            class="h-stack"
            (click)="outputDataDisplayService.sort(col)"
          >
            {{ col.header }}
            <rux-icon *ngIf="col.sortable" [icon]="col.icon" size="small" />
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of outputDataDisplayService.data"
        [attr.selected]="row.selected"
      >
        <td
          *ngFor="let col of outputDataDisplayService.columns"
          [ngSwitch]="col.field"
          [attr.type]="col.type"
          [ngClass]="{ sortable: col.sortable }"
        >
          <rux-checkbox
            *ngSwitchCase="'id'"
            [checked]="row.selected"
            (ruxchange)="outputDataDisplayService.selectRow($event, row)"
          />
          <ng-container *ngSwitchCase="'status'">
            <rux-status *ngIf="row.status !== 'normal'" [status]="row.status" />
          </ng-container>
          <rux-select
            size="small"
            *ngSwitchCase="'units'"
            (ruxchange)="outputDataDisplayService.setRowUnit($event, row)"
            [value]="outputDataDisplayService.getRowUnit(row)"
          >
            <rux-option
              *ngFor="let unit of row.units"
              [label]="unit.label"
              [value]="unit.val"
            />
          </rux-select>

          <ng-container *ngSwitchDefault>
            {{
              outputDataDisplayService.setDefaultCase(
                row[col.field],
                outputDataDisplayService.getRowUnit(row)
              )
            }}
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table> -->
  Table
</div>
