<form class="inputs_form" [formGroup]="inputForm" (ngSubmit)="onSubmit()">
  <div class="inputs_main">
    <rux-pop-up placement="bottom" close-on-select #popup>
      <rux-input
        slot="trigger"
        type="search"
        label="Database File"
        formControlName="databaseFile"
        (ruxinput)="handleInput($event)"
      />
      <rux-menu *ngIf="!hasValue" (ruxmenuselected)="handleSelect($event)">
        <span>Latest Track File</span>
        <rux-menu-item  [attr.data-id]="currentTrackFile.id" value="{{ currentTrackFile.name }}">{{
          currentTrackFile.name
        }}</rux-menu-item>
        <rux-menu-item-divider />
        <span>Recent Track Files</span>
        <rux-menu-item
          [attr.data-id]="trackfile.id"
          *ngFor="let trackfile of trackfiles$ | async"
          >{{ trackfile.name }}</rux-menu-item
        >
      </rux-menu>

      <rux-menu *ngIf="hasValue" (ruxmenuselected)="handleSelect($event)">
        <span>Results</span>
        <rux-menu-item [attr.data-id]="file.id" *ngFor="let file of results">{{
          file.name
        }}</rux-menu-item>
        <div *ngIf="noResults" class="no-results">
          No results match the given search parameters.
        </div>
      </rux-menu>
    </rux-pop-up>
    <rux-input label="Orbit Source" formControlName="orbitSource" readonly />
    <rux-input
      label="Epoch"
      placeholder="MM/DD/YY 00:00:00 .000"
      disabled
    ></rux-input>
    <rux-input
      disabled
      label="Epoch Range"
      placeholder="MM/DD/YY 00:00:00 - MM/DD/YY 00:00:00"
    ></rux-input>
    <rux-input disabled label="Epoch Span" placeholder="# Days"></rux-input>
    <rux-input
      label="Epoch Span"
      formControlName="epochSpan"
      placeholder="# Days"
    ></rux-input>
    <rux-input label="Thrust Profile" formControlName="thrustProfile" />
    <rux-input
      label="Processed Track File"
      formControlName="processedTrackFile"
      [value]="processedTrackFile"
    />
  </div>
  <div class="inputs_footer">
    <rux-button [disabled]="isDisabled" type="submit"
      >Determine Orbit</rux-button
    >
  </div>
</form>
