:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

form.inputs_form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-4);
}

.inputs_main > * {
  padding-block-start: var(--spacing-2);
  width: 100%;
}

rux-pop-up {
  width: inherit;
}

rux-input::part(label) {
  margin-bottom: 0.3rem;
}

/* These part modifications make the popup look like a type-ahead dropdown */
rux-pop-up::part(popup-content) {
  width: calc(100% - var(--spacing-6));
  margin-block-start: calc(-1 * var(--spacing-3));
}

rux-pop-up::part(arrow) {
  display: none;
}

rux-menu {
  max-height: 300px;
  overflow: auto;
}

.inputs_main > :first-child {
  padding-block-start: var(--spacing-0);
  cursor: pointer;
}

.inputs_input-button-wrapper {
  display: flex;
  align-items: flex-end;
}

.inputs_input-button-wrapper rux-input {
  width: 100%;
  padding-inline-end: var(--spacing-3);
}

.inputs_footer {
  margin-inline: auto;
  padding-block-start: var(--spacing-3);
}

.inputs_footer rux-button {
  width: 20rem;
}

.inputs_input-button-wrapper rux-input:nth-of-type(1) {
  margin-bottom: 0;
  padding-bottom: 0;
}

rux-pop-up {
  width: 100%;
}

rux-pop-up::part(arrow) {
  display: none;
}

rux-pop-up::part(popup-content) {
  width: calc(100% - 2rem);
  margin-top: -0.75rem;
}

rux-menu {
  max-height: 15rem;
  overflow: auto;
  width: 100%;
}

rux-pop-up span {
  font-style: italic;
  padding-inline: var(--spacing-2);
}

.no-results {
  text-decoration: none;
  padding: var(--spacing-4);
}

.orbit-source-input {
  padding: 0;
}
