:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

form.inputs_form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-3);
}

.inputs_main > *,
.inputs_main > :first-child.alertActive {
  padding-block-start: var(--spacing-3);
}

.inputs_main > :first-child {
  padding-block-start: var(--spacing-0);
}

.inputs_input-button-wrapper {
  display: flex;
  align-items: flex-end;
}

.inputs_input-button-wrapper rux-input {
  width: 100%;
  padding-inline-end: var(--spacing-3);
}

.inputs_footer {
  margin-inline: auto;
  padding-block-start: var(--spacing-3);
}
