<div>
  <div class="button-wrapper">
    <span> Raw Track Files</span>
    <span>
      <rux-select label="Filter By" (ruxchange)="onSelect($event)">
        <rux-option label="All" value="all" />
        <rux-option label="Last 7 Days" value="seven-days" />
        <rux-option label="Last 30 Days" value="thirty-days" />
        <rux-option label="Last 90 Days" value="ninety-days" />
      </rux-select>
    </span>
    <rux-button size="small" iconOnly="true" icon="more-horiz" />
  </div>
  <div class="content">
    <div class="table-wrapper">
      <rux-table>
        <rux-table-header>
          <rux-table-header-row>
            <rux-table-header-cell>
              <rux-checkbox (ruxchange)="handleSelectAll($event)" />
            </rux-table-header-cell>
            <rux-table-header-cell>File Name </rux-table-header-cell>
            <rux-table-header-cell
              (click)="sortColumn('date')"
              (mouseenter)="showIcon = true"
              (mouseleave)="showIcon = false"
              >Date
              <span class="icon-span" [ngClass]="{ 'show-icon': showIcon }">
                <rux-icon
                  size="small"
                  class="visible"
                  *ngIf="showIcon"
                  [icon]="
                    sortDirection === 'ASC'
                      ? 'arrow-drop-down'
                      : 'arrow-drop-up'
                  "
                />
              </span>
            </rux-table-header-cell>
            <rux-table-header-cell
              (click)="sortColumn('size')"
              (mouseenter)="showSecondIcon = true"
              (mouseleave)="showSecondIcon = false"
              >File Size
              <span
                class="icon-span"
                [ngClass]="{ 'show-icon': showSecondIcon }"
              >
                <rux-icon
                  size="small"
                  *ngIf="showSecondIcon"
                  [icon]="
                    sortDirection === 'ASC'
                      ? 'arrow-drop-down'
                      : 'arrow-drop-up'
                  "
              /></span>
            </rux-table-header-cell>
          </rux-table-header-row>
        </rux-table-header>
        <rux-table-body>
          <rux-table-row *ngFor="let file of filteredData">
            <rux-table-cell>
              <rux-checkbox
                [checked]="file.selected"
                (ruxchange)="handleCheckbox(file)"
                [disabled]="editTrackFile"
              />
            </rux-table-cell>
            <rux-table-cell>{{ file.fileName }}</rux-table-cell>
            <rux-table-cell>{{
              file.date | date: "MM/dd/YYYY"
            }}</rux-table-cell>
            <rux-table-cell>{{ file.size }} kb</rux-table-cell>
          </rux-table-row>
        </rux-table-body>
      </rux-table>
    </div>

    <div class="file-wrapper">
      <div slot="header">
        <span>{{ selectedFileName }}</span>
        <div>
          <rux-button
            [disabled]="!isFileSelected"
            borderless
            secondary
            icon="cancel"
            (click)="handleCancel()"
            >Cancel</rux-button
          >
          <rux-button
            [disabled]="!isFileSelected"
            borderless
            secondary
            icon="save"
            (click)="handleSave()"
            >Save As</rux-button
          >
        </div>
      </div>

      <div class="file-content" *ngIf="!editTrackFile">
        <rux-icon icon="antenna-transmit" size="7rem" />
        <rux-button [disabled]="!isFileSelected" (click)="handleEdit()"
          >Edit Track File</rux-button
        >
      </div>
      <rux-textarea
        *ngIf="editTrackFile"
        class="edit-file"
        value=" {{ selectedFileContent }}"
        (ruxchange)="handleTextarea($event)"
      />
    </div>
  </div>
</div>
