<div class="toolbar">
  <!-- may be needed if checkboxes added back into design -->
  <!-- <div class="toolbar-buttons">
        <rux-button [disabled]="disableUndo" (click)="onUndo()" iconOnly icon="undo" />
        <rux-button (click)="onDelete()" iconOnly icon="delete" />
      </div> -->

  <div class="zoom-wrapper">
    <rux-icon icon="search" size="1.5rem" />
    <rux-slider [value]="zoomLevel" (ruxchange)="handleZoom($event)" step="1000000" min="0" max="36000000" />
    <rux-icon icon="search" size="extra-small" />
  </div>
</div>

<div fdsCesiumMap [cameraZoom]="zoomLevel" [satPos1X]="-1000" [satPos1Y]="1000" [satPos2X]="0" [satPos2Y]="500"
  name="Sat Path Name"></div>

<footer>
  <rux-icon icon="play" size="normal" />
  <!-- TODO: meter element -->
  <div class="playback-date-wrapper">
    <span>MM/DD/YYYY</span>
    <span>00:00:00.000</span>
  </div>
</footer>