<div class="toolbar">
  <!-- may be needed if checkboxes added back into design -->
  <!-- <div class="toolbar-buttons">
        <rux-button [disabled]="disableUndo" (click)="onUndo()" iconOnly icon="undo" />
        <rux-button (click)="onDelete()" iconOnly icon="delete" />
      </div> -->

  <div class="zoom-wrapper">
    <rux-icon icon="search" size="1.5rem" />
    <rux-slider
      [value]="zoomLevel"
      (ruxchange)="handleZoom($event)"
      step="1"
      min="0"
      max="100"
    />
    <rux-icon icon="search" size="extra-small" />
  </div>
</div>
<div
  *ngIf="ephemData$ | async as ephemData"
  fdsCesiumMap
  [zoomLevel]="zoomLevel"
  (onCameraChange)="onCameraScrollChange($event)"
  [satPos1X]="ephemData['satPos1X']"
  [satPos1Y]="ephemData['satPos1Y']"
  [satPos2X]="ephemData['satPos2X']"
  [satPos2Y]="ephemData['satPos2Y']"
  [name]="(trackFile$ | async)!.name"
></div>

<footer>
  <rux-icon icon="play" size="normal" />
  <!-- TODO: meter element -->
  <div class="playback-date-wrapper">
    <span>MM/DD/YYYY</span>
    <span>00:00:00.000</span>
  </div>
</footer>
