<header>
  <div>
    <fds-custom-segmented-button
      [leftIcon]="leftIcon"
      [leftText]="leftText"
      [rightText]="rightText"
      [rightIcon]="rightIcon"
      (leftClick)="viewModel()"
      (rightClick)="viewTable()"
      [isLeftBtnActive]="leftBtnActive"
      [isRightBtnActive]="rightBtnActive"
    ></fds-custom-segmented-button>
  </div>
  <div *ngIf="showModel" class="button-wrapper">
    <rux-button (click)="onClick()" size="small" secondary>Item 3</rux-button>
    <rux-button (click)="onClick()" size="small" secondary>Settings</rux-button>
    <rux-button
      class="controls-btn"
      *ngIf="!showControlsPanel"
      size="small"
      (click)="toggleControls()"
      >Controls</rux-button
    >
    <rux-button
      *ngIf="showControlsPanel"
      size="small"
      secondary
      (click)="toggleControls()"
      icon="keyboard-backspace"
      class="controls-btn"
      >Close</rux-button
    >
  </div>
</header>

<fds-propagator-controls [showControlsPanel]="showControlsPanel" />

<fds-view-model *ngIf="showModel; else showTable" />

<ng-template #showTable>
  <fds-view-table />
</ng-template>
