<header>
  <div>
    <fds-custom-segmented-button
      [leftIcon]="leftIcon"
      [leftText]="leftText"
      [rightText]="rightText"
      [rightIcon]="rightIcon"
      (leftClick)="viewModel()"
      (rightClick)="viewTable()"
      [isLeftBtnActive]="leftBtnActive"
      [isRightBtnActive]="rightBtnActive"
    ></fds-custom-segmented-button>
  </div>
  <div *ngIf="showModel" class="button-wrapper">
    <rux-button (click)="onClick()" size="small" secondary>Item 3</rux-button>
    <rux-button (click)="onClick()" size="small" secondary>Settings</rux-button>
    <rux-button size="small" secondary (click)="toggleControls()"
      >Controls</rux-button
    >
  </div>
</header>

<aside *ngIf="showControlsPanel" class="controls-panel">
  <fds-propagator-controls />
</aside>

<fds-view-model *ngIf="showModel; else showTable" />

<ng-template #showTable>
  <fds-view-table />
</ng-template>
