<header>
  <div>
    <rux-button (click)="viewModel()" id="graph" icon="public" size="small" secondary>View Model</rux-button>
    <rux-button (click)="viewTable()" id="table" icon="notes" size="small" secondary>View Table</rux-button>
  </div>
  <div *ngIf="showModel" class="button-wrapper">
    <rux-button size="small" secondary>Item 3</rux-button>
    <rux-button size="small" secondary>Settings</rux-button>
    <rux-button size="small" secondary (click)="toggleControls()">Controls</rux-button>
  </div>
</header>

<aside *ngIf="showControlsPanel" class="controls-panel">
  <fds-propagator-controls />
</aside>

<fds-view-model *ngIf="showModel; else showTable" style="overflow: scroll" />

<ng-template #showTable>
  <fds-view-table />
</ng-template>