<rux-container>
  <div slot="header">
    <rux-tabs>
      <rux-tab selected>Inputs</rux-tab>
      <rux-tab>Outputs</rux-tab>
    </rux-tabs>
  </div>
  <div class="inputs-wrapper">
    <rux-input label="Database File" placeholder="input_file_name.abc" />

    <div class="orbit-source">
      <rux-select label="Orbit Source">
        <rux-option label="Ephemeris" />
      </rux-select>
      <rux-input placeholder="input_file_name.abc" />
    </div>

    <rux-input label="Epoch" placeholder="MM/DD/YY 00:00:00 .000" />
    <rux-input
      label="Epoch Range"
      placeholder="MM/DD/YY 00:00:00 .000 - MM/DD/YY 00:00:00 .000"
    />
    <rux-input label="Epoch Span" placeholder="# Days" />
    <rux-input label="Thrust Profile" placeholder="input_file_name.abc" />
    <rux-input label="Processed Track File" placeholder="input_file_name.abc" />
  </div>
</rux-container>
