rux-container::part(body) {
  padding-top: 0;
}

rux-container::part(header) {
  padding-bottom: 0;
}

.inputs-wrapper rux-input::part(label) {
  margin-top: var(--spacing-2);
}

.orbit-source {
  margin-top: var(--spacing-4);
  display: flex;
}

.orbit-source rux-select {
  width: 41%;
}

.orbit-source rux-input::part(input-field) {
  margin-top: var(--spacing-8);
  margin-left: var(--spacing-2);
}

rux-input::part(input) {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.outputs-wrapper {
  display: flex;
  flex-direction: column;
}

span {
  padding: var(--spacing-2) var(--spacing-2) var(--spacing-4) var(--spacing-2);
  font-style: italic;
}

rux-checkbox {
  padding-block: var(--spacing-2);
  border-bottom: 1px solid black;
}

rux-checkbox:nth-of-type(2),
rux-checkbox:nth-of-type(6) {
  padding-bottom: 0;
  border-bottom: none;
}

rux-checkbox:last-child {
  border-bottom: none;
}

rux-radio {
  margin-left: var(--spacing-6);
  padding-top: var(--spacing-1);
}

.last-radio {
  padding-bottom: var(--spacing-6);
  border-bottom: 1px solid black;
}
