@import '@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css';

/* resets */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-family: var(--font-heading-1-font-family);
  font-size: var(--font-heading-1-font-size);
  font-weight: var(--font-heading-1-font-weight);
  letter-spacing: var(--font-heading-1-letter-spacing);
  line-height: var(--font-heading-1-line-height);
}

h2 {
  font-family: var(--font-heading-2-font-family);
  font-size: var(--font-heading-2-font-size);
  font-weight: var(--font-heading-2-font-weight);
  letter-spacing: var(--font-heading-2-letter-spacing);
  line-height: var(--font-heading-2-line-height);
}

h3 {
  font-family: var(--font-heading-3-font-family);
  font-size: var(--font-heading-3-font-size);
  font-weight: var(--font-heading-3-font-weight);
  letter-spacing: var(--font-heading-3-letter-spacing);
  line-height: var(--font-heading-3-line-height);
}

p {
  font-family: var(--font-body-1-font-family);
  font-size: var(--font-body-1-font-size);
  font-weight: var(--font-body-1-font-weight);
  letter-spacing: var(--font-body-1-letter-spacing);
  line-height: var(--font-body-1-line-height);
}

/* rux-container styles - calc subtracts 2px for top and bottom border */
rux-container {
  height: calc(100% - var(--spacing-050));
}

rux-container::part(container) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

rux-container::part(body) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/*
 * table styles - start
 * .table-wrapper is not needed on all table elements for this to work
 * and using it as an "optin" of sorts to use these styles in a table
*/
.table-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  /* This goes along with the fix for pushing the scrollbar down past the sticky header */
  background-color: var(--color-background-base-header);
  border-top: 1px solid var(--container-color-border);
}

.table-wrapper::-webkit-scrollbar-track {
  margin-top: 48px; /*Pushing the scrollbar down past the sticky header */
}

.table-wrapper table {
  border-collapse: collapse;
  white-space: nowrap;
}

.table-wrapper thead {
  position: relative;
  box-shadow: var(--table-header-shadow);
  z-index: 10;
}

.table-wrapper th {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  padding: var(--table-header-cell-padding);
  text-align: left;
  background-color: var(--color-background-surface-header);
  font-family: var(--font-heading-5-font-family);
  font-size: var(--font-heading-5-font-size);
  font-weight: var(--font-weights-medium);
  line-height: var(--font-heading-5-line-height);
  letter-spacing: var(--font-heading-5-letter-spacing);
}

.table-wrapper th[type='number'] .h-stack {
  justify-content: flex-end;
}

.table-wrapper tbody {
  background-color: var(--color-background-surface-default);
}

.table-wrapper tbody tr {
  color: var(--color-text-primary);
  border-bottom-style: solid;
  border-bottom-color: var(--color-background-base-default);
  border-bottom-width: var(--table-row-border-width);
  font-family: var(--font-body-1-font-family);
  font-size: var(--font-body-1-font-size);
  font-weight: var(--font-body-1-font-weight);
  line-height: var(--font-body-1-line-height);
  letter-spacing: var(--font-body-1-letter-spacing);
}

.table-wrapper tbody tr:hover {
  background-color: var(--color-background-surface-hover);
}

.table-wrapper tbody tr[selected='true'] {
  background-color: var(--color-background-surface-selected);
}

.table-wrapper td {
  padding-inline: var(--table-body-cell-padding-x);
  padding-block: var(--table-body-cell-padding-y);
}

.table-wrapper td[type='number'] {
  text-align: right;
}

.table-wrapper td[type='number'].sortable {
  padding-right: 2.5rem;
}

.table-wrapper table rux-checkbox {
  display: flex;
  justify-content: center;
}

.table-wrapper th.sortable {
  cursor: pointer;
}

.table-wrapper th rux-icon {
  visibility: hidden;
  min-width: 2rem;
}

.table-wrapper th:hover rux-icon {
  visibility: visible;
}

.table-wrapper th .active rux-icon {
  visibility: visible;
}

.table-wrapper .h-stack {
  display: flex;
  align-items: center;
}
/*** table styles - end ***/
