<rux-pop-up close-on-select>
  <rux-menu (ruxmenuselected)="handleSelection($event)">
    <span>Latest Track File</span>
    <rux-menu-item value="">Singular Track File</rux-menu-item>
    <rux-menu-item-divider/>
    <span>Recent Track Files</span>
    <rux-menu-item value>Track Files</rux-menu-item>
  </rux-menu>
  
  <rux-input
  slot="trigger"
  type="text"
  label="Database File"
  formControlName="databaseFile"
  type="search"
  placeholder="Start typing to search files..."

  />
</rux-pop-up>
 
