header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header button {
  margin-inline-start: auto;
}

rux-tab-panel {
  height: 100%;
}
rux-container::part(body) {
  padding: var(--spacing-0);
}
