:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: var(--spacing-4);
}

header button {
  margin-inline-start: auto;
}

rux-tab-panel {
  height: 100%;
}
